<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <title>Cancellation</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <font face="Stencil" size="6px" style="color:rgb(250, 242, 242)">ULAA</font>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">
              <font face="Trebuchet MS" size="4px" style="color:rgb(250, 242, 242)">Home</font>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/availability">
              <font face="Trebuchet MS" size="4px" style="color:rgb(250, 242, 242)">Check Availability</font>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/findbus">
              <font face="Trebuchet MS" size="4px" style="color:rgb(250, 242, 242)">Booking</font>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'seebookings' %}">
              <font face="Trebuchet MS" size="4px" style="color:rgb(250, 242, 242)">Cancellation</font>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/faq">
              <font face="Trebuchet MS" size="4px" style="color:rgb(250, 242, 242)">FAQs</font>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">
              <font face="Trebuchet MS" size="4px" style="color:rgb(250, 242, 242)">Contact Us</font>
            </a>
          </li>
      </div>
    </div>
  </nav>
  <div class="container-fluid my-3">
    <h3>{{msg}}</h3>
    <center>
      <h2>
        <font face="Trebuchet MS" style="color:rgb(17, 16, 16)">BOOKING RECORDS</font>
      </h2>
    </center>
    <br>
    <table class="table table-striped">
      <thead style="background-color: rgb(11, 11, 12);color: white;">
        <td>BOOKING ID</td>
        <td>USER NAME</td>
        <td>BUS NAME</td>
        <td>SOURCE</td>
        <td>DESTINATION</td>
        <td>NUM OF SEATS</td>
        <td>PRICE</td>
        <td>DATE</td>
        <td>TIME</td>
        <td>STATUS</td>


      </thead>

      {% for row in book_list %}
      <tr>
        <td>{{row.id}}</td>
        <td>{{row.name}}</td>
        <td>{{row.bus_name}}</td>
        <td>{{row.source}}</td>
        <td>{{row.dest}}</td>
        <td>{{row.nos}}</td>
        <td>{{row.price}}</td>
        <td>{{row.date}}</td>
        <td>{{row.time}}</td>
        <td>{{row.status}}</td>


      </tr>
      {% endfor %}
    </table>
    <center>
      <form action="{% url 'cancellings' %}" method="post">
        <h3>Choose booking ID to cancel</h3>
        {% csrf_token %}
        <div class="col-auto">
          <label for="example-email-input" class="col-2 col-form-label">Booking ID</label>
          <div class="col-5">
            <input name='bus_id' class="form-control" type="number" id="example-email-input">
          </div>
        </div>

        <br>
        <br>
        <div class="pull-right">
          <button type="submit" class="btn btn-danger float-left">Cancel bus</button>
        </div>


        

      </form>
    </center>
    <h4>{{error}}</h4>
  </div>
  <footer class='text-center mb-3 position-absolute fixed-bottom'>Copyright &copy; ULAA | All rights reserved</footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

</body>

</html>